@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.ql-font-noto-sans-kr {
  font-family: 'Noto Sans KR', sans-serif;
}

.ql-font-nanum-gothic {
  font-family: 'Nanum Gothic', sans-serif;
}

.ql-font-nanum-myeongjo {
  font-family: 'Nanum Myeongjo', serif;
}

.ql-font-nanum-pen-script {
  font-family: 'Nanum Pen Script', cursive;
}

.ql-font-poor-story {
  font-family: 'Poor Story', cursive;
}

.ql-font-jua {
  font-family: 'Jua', sans-serif;
}
